body {
  background-color: $light;
  color: $primary;
  height: auto;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 64rem;
  padding: 3.125rem 1rem;
  width: 100%;
}

header, footer {
  box-shadow: 0 0 0.5rem 0 rgba($dark, 0.5);
}

header {
  background-color: $primary;
  color: $warning;

  > .container {
    padding: 5rem 1rem;
  }
}

footer {
  @media screen and (min-height: 40rem) {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
  }

  > .container {
    padding: 1rem;
  }
}

p:last-of-type {
  margin-bottom: 0;
}

@import "parts/forms";