<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Resizer App | {% block title %}{{ title|default('Welcome!') }}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {% block body %}
        <header>
            <div class="container text-center">
                {% block header %}
                    <h1>Resizer <span class="text-white">App</span></h1>
                    <p>Recruitment Task</p>
                {% endblock %}
            </div>
        </header>
        <main>
            <div class="container py-0">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} my-3" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span
                                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            {{ message|trans([], 'flashes', app.request.locale) }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            {% block main %}{% endblock %}
        </main>
        <footer>
            <div class="container text-center">
                {% block footer %}
                    <p>Resizer App &copy; 2020</p>
                {% endblock %}
            </div>
        </footer>
    {% endblock %}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
    </body>
</html>
