{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}